
blockquote {
	background-color: rgba(0, 0, 0, .12);
	padding: 8px;
}

blockquote::after {
	content: ">>";
}
blockquote::before{
	content:"<<"
}

a {
	color: darkred;
	text-decoration: none;
}
a:hover{
color: yellow;
}
a:visited{
	color: violet;
}

h1 + p::first-letter{
	float: left;
    color: darkred;
    border: 3px ridge darkgoldenrod;
    padding: 16px;
    background-color: gold;
    margin: 8px;
}